[id="context"] .publishtabs {
	margin-left: auto;
	right: 0;
	left: auto;
}

@media screen and (min-width: 1240px) {
	[id="context"] .publishtabs {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--dimension-smallest);
		left: 0;
		right: 0;
	}
}

.tab-group:before, 
.tab-group:after {
	content: "";
	display: block;
	height: 0;
	margin: auto;
}

[id="primary"] .tab-group {
	/* Keep parent context for field layout */
	display: inherit;
	flex-direction: inherit;
}

.tab-group+.tab-group,
.field-publish_tabs~.field-publish_tabs {
	margin-top: var(--standard-outer-rhythm);
}


/* Make the sidebar tabs behave */
[id="secondary"] .tab-group:not(.tab-group-active):not(:hover):not(:focus-within) {
	transition-delay: var(--duration-long);
	transition-duration: var(--duration-longest);
	opacity: .2;
}

[id="secondary"] .tab-group:not(.tab-group-active) {
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition-duration: var(--duration-shorter);
	transition-delay: var(--duration-shorter);
}

/* Specifically position context-panel-switch arrow when publish tabs are present --------*/
body.publish-tabs .context-panel-switch:before {
	width: 100%;
	max-width: calc(var(--standard-field-max-width) + var(--standard-outer-rhythm) * 2);
}

/* No JS styles for minimizing interface jank --------*/
.field-publish_tabs {
	color: transparent;
	font-size: 0;
	line-height: 0;
	background-color: transparent;
	border: 0;
}

.field-publish_tabs:not(:first-of-type):before {
	content: "";
	background-color: var(--standard-field-background-color);
	width: 100%;
	position: absolute;
	margin-top: calc(-1 * var(--standard-outer-rhythm) - var(--radius-current) / 3);
	border-bottom-left-radius: var(--radius-current);
	border-bottom-right-radius: var(--radius-current);
	height: var(--radius-current);
	border-bottom: 1px solid var(--standard-field-border-color);
	border-left: 1px solid var(--standard-field-border-color);
	border-right: 1px solid var(--standard-field-border-color);
	box-sizing: border-box;
}

.field-publish_tabs+.field {
	border-top-left-radius: var(--radius-current);
	border-top-right-radius: var(--radius-current);
}

.field:focus-within+.field-publish_tabs:before,
.field:focus-within+.field-publish_tabs:before {
	background-color: var(--standard-field-focus-background-color);
}